<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:md="http://typo3.org/ns/Mediadreams/MdCalendarizeFrontend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:for each="{event.calendarize}" as="item" iteration="i">
    <f:variable name="elementCount" value="{i.index}" />

    <fieldset class="border p-3 mb-3" id="itemContainer_{i.index}">
        <legend>{f:translate(key: 'event.calendarize.legend', arguments: {0: '<span>{i.cycle}</span>'})->f:format.raw()}</legend>

        <div class="row">
            <div class="form-group col-md-6 col">
                <label for="start_{i.index}"><f:translate key="event.calendarize.startDate" /></label>
                <f:form.textfield
                        property="calendarize.{i.index}.startDate"
                        value="{item.startDate -> f:format.date(format: '{settings.dateFormat}')}"
                        id="start_{i.index}"
                        class="form-control"
                        additionalAttributes="{placeholder:'{settings.dateFormatPlaceholder}', data-parsley-trigger:'change focusout', required:''}" />
            </div>

            <div class="form-group col-md-6 col">
                <label for="end_{i.index}"><f:translate key="event.calendarize.endDate" /></label>
                <f:form.textfield
                        property="calendarize.{i.index}.endDate"
                        value="{item.endDate -> f:format.date(format: '{settings.dateFormat}')}"
                        id="end_{i.index}"
                        class="form-control"
                        additionalAttributes="{placeholder:'{settings.dateFormatPlaceholder}'}" />
            </div>
        </div>

        <div class="row times{f:if(condition:'{item.allDay}',then:' d-none')}">
            <div class="form-group col-md-3">
                <label for="startTime_{i.index}"><f:translate key="event.calendarize.startTime" /></label>
                <f:form.textfield
                        property="calendarize.{i.index}.startTime"
                        value="{f:if(condition:'{item.startTime}',then:'{item.startTime -> md:utcTime(format: \'{settings.timeFormat}\')}',else:'')}"
                        id="startTime_{i.index}"
                        class="form-control"
                        additionalAttributes="{placeholder:'{settings.timeFormatPlaceholder}'}" />
            </div>

            <div class="form-group col-md-3 endTime{f:if(condition:'{item.openEndTime}',then:' d-none')}">
                <label for="endTime_{i.index}"><f:translate key="event.calendarize.endTime" /></label>
                <f:form.textfield
                        property="calendarize.{i.index}.endTime"
                        value="{f:if(condition:'{item.endTime} > 0',then:'{item.endTime -> md:utcTime(format: \'{settings.timeFormat}\')}',else:'')}"
                        id="endTime_{i.index}"
                        class="form-control"
                        additionalAttributes="{placeholder:'{settings.timeFormatPlaceholder}'}" />
            </div>
            <div class="form-group col-md-6">
                <div class="form-check mt-4">
                    <f:form.checkbox
                            property="calendarize.{i.index}.openEndTime"
                            value="1"
                            id="openEndTime_{i.index}"
                            class="form-check-input openEndTime" />
                    <label for="openEndTime_{i.index}" class="form-check-label"><f:translate key="event.calendarize.openEndTime" /></label>
                </div>
            </div>
        </div>

        <div class="form-check">
            <f:form.checkbox
                    property="calendarize.{i.index}.allDay"
                    value="1"
                    id="allDay_{i.index}"
                    class="form-check-input allDay" />
            <label for="allDay_{i.index}" class="form-check-label"><f:translate key="event.calendarize.allDay" /></label>
        </div>

        <f:form.hidden
                property="calendarize.{i.index}.type"
                value="time" />

        <f:form.hidden
                property="calendarize.{i.index}.handling"
                value="include" />

        <f:form.hidden
                property="calendarize.{i.index}.state"
                value="default" />

        <f:comment>optionally change this, if frequency is month or year</f:comment>
        <f:form.hidden
                property="calendarize.{i.index}.day"
                value="weekday" />

        <div class="text-right mb-3 {f:if(condition:'{i.index} == 0',then:'d-none')}">
            <a href="javascript:void(null)" class="btn btn-link p-0 delItem" data-item="{i.index}"><f:translate key="event.calendarize.delItem" /></a>
        </div>
    </fieldset>
</f:for>

<div class="text-right mb-3">
    <input type="button" class="btn btn-link p-0" id="addItem" value="<f:translate key="event.calendarize.addItem" />" />
</div>

<script>
    addEventListener('load', (event) => {
        jQuery(document).ready(function ($) {
            var formElementCount = <f:format.raw>{elementCount + 1}</f:format.raw>,
                source = $('#itemContainer_0'),
                cloneMaster = source.clone();

            $('#addItem').click(function() {
                let clone = cloneMaster.clone();

                // increment legend
                clone.find('legend span').text(formElementCount + 1);

                // increment for-attribute of label
                clone.find('label').attr('for', function(i, val) {
                    return val + formElementCount;
                });

                // increment ID and name of input field
                clone.find(':input').attr('id', function(i, val) {
                    return val + formElementCount;
                }).attr('name', function(i, val) {
                    return val.replace('[0]','[' + formElementCount + ']');
                });

                // reset some values
                clone.find(':input:not([type=hidden])').val('');
                clone.find(':checkbox').prop('checked', false);
                clone.find('.d-none').removeClass('d-none')

                clone.insertBefore( $(this).parent() );
                initItem();

                formElementCount++;
            });

            var initItem = function() {
                $('.delItem').click(function() {
                    let item = $(this).attr('data-item');
                    if (item) {
                        $("input[name='tx_mdcalendarizefrontend_frontend\\[event\\]\\[calendarize\\]\\[" + item + "\\]\\[__identity\\]']").remove();
                    }
                    $(this).closest('fieldset').remove();
                });

                $('.openEndTime').on('change', function() {
                    let endTime = $(this).closest('fieldset').find('.endTime');
                    endTime.toggleClass('d-none', $(this).is(':checked'));
                });

                $('.allDay').on('change', function() {
                    let times = $(this).closest('fieldset').find('.times');
                    times.toggleClass('d-none', $(this).is(':checked'));
                });
            }

            initItem();
        });
    });
</script>

</html>
