<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1><f:translate key="list_events" /></h1>

    <f:flashMessages />

    <f:if condition="{pagination.paginator.paginatedItems}">
        <f:then>
            <f:if condition="{settings.paginate.insertAbove}">
                <f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>

            <div class="row my-3">
                <f:for each="{pagination.paginator.paginatedItems}" as="eventItem" iteration="i">
                    <div class="col-sm-8 {f:if(condition:'{i.isEven}',then:'even',else:'odd')}">
                        {eventItem.title}
                        ({eventItem.firstCalendarize.startDate -> f:format.date(format: '{settings.dateFormat}')}{f:if(condition:'{eventItem.calendarize -> f:count()} > 1',then:', ...')})
                    </div>
                    <div class="col-sm-4 text-right {f:if(condition:'{i.isEven}',then:'even',else:'odd')}">
                        <f:link.action action="edit" arguments="{event : eventItem}" class="mr-3" title="{f:translate(key: 'edit')}: {eventItem.title}"><i class="fas fa-pencil-alt"></i> <f:translate key="edit" /></f:link.action>
                        <f:link.action action="delete" arguments="{event : eventItem}" class="text-danger delete" additionalAttributes="{data-toggle: 'modal', data-target: '#deleteModal', data-bs-toggle: 'modal', data-bs-target: '#deleteModal'}" title="{f:translate(key: 'delete')}: {eventItem.title}"><i class="fas fa-trash-alt"></i> <f:translate key="delete" /></f:link.action>
                    </div>
                </f:for>
            </div>

            <f:if condition="{settings.paginate.insertBelow}">
                <f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
        </f:then>
        <f:else>
            <div class="no-items">
                <f:translate key="no_items" />
            </div>
        </f:else>
    </f:if>

    <f:link.action action="new" class="btn btn-primary mt-3"><f:translate key="new" /></f:link.action>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"><f:translate key="modal.title" /></h5>
                    <span type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="modal-body">
                    <f:translate key="modal.text" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal"><f:translate key="modal.close" /></button>
                    <a href="#" class="btn btn-danger" id="delLink"><f:translate key="modal.delete" /></a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        addEventListener('load', (event) => {
            (function($){
                $(document).ready(function() {
                    $('.delete').on('click', function() {
                        $('#delLink').attr('href', $(this).attr('href'));
                    });
                });
            })(jQuery);
        });
    </script>

</f:section>
</html>
